@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --gray-black: #0d0d0d;
  --gray-darker: #2b2b2b;
  --gray-dark: #404040;
  --gray-medium: #999999;
  --gray-light: #cccccc;
  --gray-lighter: #f2f2f2;
  --gray-white: #ffffff;
  --red-darker: #a61029;
  --red-dark: #cc1433;
  --red-main: #f23051;
  --red-light: #fc8b9e;
  --red-lighter: #fcd7dd;
  --violet-darker: #554d80;
  --violet-dark: #665c99;
  --violet-main: #897acc;
  --violet-light: #cbc2f2;
  --violet-lighter: #f9f7ff;
  --color-gradient: linear-gradient(90deg, rgb(137, 122, 204), rgb(204, 41, 163) 49.479%, rgb(242, 48, 81) 100%);
}

h1 {
  font-size: 76px;
  line-height: 110%;
  font-weight: 700;
  font-family: Vladivostok;
}
@media (max-width: 889.98px) {
  h1 {
    font-size: 42px;
  }
}

h2 {
  font-size: 48px;
  line-height: 100%;
  font-weight: 700;
  font-family: Vladivostok;
}
@media (max-width: 889.98px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-size: 28px;
  line-height: 100%;
  font-weight: 700;
  font-family: Vladivostok;
}
@media (max-width: 889.98px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 20px;
  line-height: 100%;
  font-weight: 700;
  font-family: Vladivostok;
}
@media (max-width: 889.98px) {
  h4 {
    font-size: 20px;
  }
}

@font-face {
  font-family: "Vladivostok";
  src: url("../../assets/fonts/Vladivostokbold.woff2") format("woff2"), url("../../assets/fonts/Vladivostokbold.woff") format("woff"), url("../../assets/fonts/Vladivostokbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: var(--gray-white);
}
.header__block {
  background-color: var(--gray-white);
}
.header__block .header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  border-bottom: 2px solid var(--gray-lighter);
}

.header__logo {
  height: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.burger__icon {
  position: relative;
  height: 48px;
  min-width: 48px;
  border-radius: 12px;
  background: var(--gray-dark);
  cursor: pointer;
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
  will-change: background;
}
.burger__icon:hover {
  background: var(--gray-medium);
}
.burger__icon:active {
  background: var(--gray-darker);
}
.burger__icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 5px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.burger__block {
  width: 100%;
  background: var(--gray-white);
  position: absolute;
  top: 0;
  z-index: 99;
  -webkit-transform: translateY(-500%);
      -ms-transform: translateY(-500%);
          transform: translateY(-500%);
  -webkit-transition: transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  will-change: transform;
}
.burger__block .burger__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  border-bottom: 2px solid var(--gray-lighter);
}
.burger__block .burger__content .menu__body {
  position: absolute;
  width: 480px;
  height: 334px;
  top: 112px;
  right: 0;
  z-index: 999;
}
@media (max-width: 768.98px) {
  .burger__block .burger__content .menu__body {
    top: 106px;
    width: 360px;
    height: 294px;
  }
}
@media (max-width: 425.98px) {
  .burger__block .burger__content .menu__body {
    width: 92.5vw;
  }
}
.burger__block .burger__content .menu__body--content {
  background-color: var(--gray-white);
  padding: 28px 40px 40px 40px;
  border-radius: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media (max-width: 768.98px) {
  .burger__block .burger__content .menu__body--content {
    padding: 20px;
    border-radius: 20px;
  }
}
.burger__block .burger__content .menu__body--content h3 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.burger__block .burger__content .menu__body--content hr {
  background: var(--gray-lighter);
  height: 2px;
  width: 100%;
  margin: 20px 0;
}
@media (max-width: 768.98px) {
  .burger__block .burger__content .menu__body--content hr {
    margin: 16px 0;
  }
}
.burger__block .burger__content .menu__body .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}
.burger__block .burger__content .menu__body .menu__list a {
  border-radius: 12px;
  height: 40px;
  background: var(--gray-lighter);
  padding: 8px;
  width: 100%;
  cursor: pointer;
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
  will-change: transition, color;
}
.burger__block .burger__content .menu__body .menu__list a:hover > span {
  color: var(--red-main);
}
.burger__block .burger__content .menu__body .menu__list a:active {
  background: var(--red-lighter);
}
.burger__block .burger__content .menu__body .menu__list a:active > span {
  color: var(--red-darker);
}
.burger__block .burger__content .menu__body .menu__list--link {
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-dark);
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.burger__block.open {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

/* Затемнение контента */
.main.dimmed {
  position: relative;
}

.main.dimmed::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

[class*=__container] {
  max-width: 1452px;
  margin: 0 auto;
  padding: 0 16px;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  background-color: var(--gray-white);
}

body {
  font-family: Inter;
  font-size: 20px;
}

body._lock {
  overflow: hidden;
}

.main {
  padding-top: 90px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.banner {
  padding: 80px 0;
}
.banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.banner__content--leftside {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 700px;
          flex: 0 1 700px;
  padding-right: 20px;
}
.banner__content--leftside h1 {
  margin-bottom: 24px;
}
.banner__content--leftside .banner__subtitle {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-dark);
}
.banner__content--leftside .buttons__block {
  margin: 40px 0;
  padding: 40px;
  max-width: 551px;
  width: 100%;
  border: 2px solid var(--violet-light);
  background: var(--violet-lighter);
  border-radius: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1141.98px) {
  .banner__content--leftside .buttons__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.banner__content--leftside .buttons__block .btn {
  padding: 13.5px 20px;
  border-radius: 12px;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-white);
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
  will-change: background;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
}
.banner__content--leftside .buttons__block .btn-red {
  background: var(--red-main);
}
.banner__content--leftside .buttons__block .btn-red:hover {
  background: var(--red-light);
}
.banner__content--leftside .buttons__block .btn-red:active {
  background: var(--red-dark);
}
.banner__content--leftside .buttons__block .btn-black {
  background: var(--gray-dark);
}
.banner__content--leftside .buttons__block .btn-black:hover {
  background: var(--gray-medium);
}
.banner__content--leftside .buttons__block .btn-black:active {
  background: var(--gray-darker);
}
.banner__content--leftside .buttons__block .btn-black svg {
  margin-left: 14px;
}
.banner__content--leftside .switch__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.banner__content--leftside .switch__block span {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-medium);
}
.banner__content--rightside {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 700px;
          flex: 0 1 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.banner__content--rightside .gradient__block {
  position: absolute;
  width: 17.2vw;
  height: 17.2vw;
  max-height: 340px;
  max-width: 340px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: var(--color-gradient);
  border-radius: 40px;
  z-index: 1;
}
.banner__content--rightside img {
  width: 17.2vw;
  max-width: 340px;
  height: auto;
  display: block;
  border-radius: 40px;
}
.banner__content--rightside img:first-child {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.banner__content--rightside img:last-child {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.banner__content--rightside img,
.gradient__block {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  max-width: 30vw;
}

.form-switch {
  display: inline-block;
  cursor: pointer;
}
.form-switch i {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
  border-radius: 22px;
  vertical-align: text-bottom;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: var(--gray-light);
}
.form-switch i:hover {
  background: var(--gray-medium);
}
.form-switch i:active {
  background: var(--gray-darker);
}
.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 44px;
  height: 24px;
  border-radius: 22px;
}
.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: var(--gray-white);
  border-radius: 8px;
  -webkit-transform: translate3d(4px, 4px, 0);
          transform: translate3d(4px, 4px, 0);
  -webkit-transition: transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  will-change: transform;
}
.form-switch input {
  display: none;
}
.form-switch input:checked + i {
  background: var(--red-main);
}
.form-switch input:checked + i:hover {
  background: var(--red-light);
}
.form-switch input:checked + i:active {
  background: var(--red-dark);
}
.form-switch input:checked + i::before {
  -webkit-transform: translate3d(0px, 4px, 0) scale3d(0, 0, 0);
          transform: translate3d(0px, 4px, 0) scale3d(0, 0, 0);
}
.form-switch input:checked + i::after {
  -webkit-transform: translate3d(24px, 4px, 0);
          transform: translate3d(24px, 4px, 0);
}

.swiper__section {
  background-color: var(--violet-lighter);
  padding: 80px 0;
}
@media (max-width: 889.98px) {
  .swiper__section {
    padding: 40px 0;
  }
}
.swiper__section--wrapper {
  position: relative;
  margin-bottom: 40px;
}
@media (max-width: 768.98px) {
  .swiper__section--wrapper {
    margin-bottom: 32px;
  }
}
.swiper__section--wrapper h2 {
  color: var(--gray-darker);
}
.swiper__section--wrapper .swiper__blockBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768.98px) {
  .swiper__section--wrapper .swiper__blockBtn {
    display: none;
  }
}

.swiper-button-prev {
  left: auto !important;
  right: 56px !important;
}

.swiper-button-next {
  right: 0px !important;
}
.swiper-button-next::after {
  padding-left: 2px;
}

.swiper__btn {
  min-width: 48px;
  min-height: 48px;
  background: var(--gray-white);
  border-radius: 12px;
  padding: 12px;
  color: var(--gray-darker) !important;
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
  will-change: background;
}
.swiper__btn:hover {
  background: var(--red-lighter);
}
.swiper__btn:active {
  background: var(--red-light);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 14px !important;
  width: 7px !important;
  height: 12px !important;
  color: var(--gray-black);
  font-weight: bold;
}

.swiper {
  width: 100%;
  max-height: 280px;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 340px !important;
  height: 280px !important;
}
@media (max-width: 1366.98px) {
  .swiper-slide {
    width: 304px !important;
    height: 260px !important;
  }
}
@media (max-width: 768.98px) {
  .swiper-slide {
    width: 280px !important;
    height: 220px !important;
  }
}

.faq {
  padding: 80px 0;
}
@media (max-width: 768.98px) {
  .faq {
    padding: 40px 0;
  }
}
.faq h2 {
  color: var(--gray-darker);
}
.faq .faq__content {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media (max-width: 768.98px) {
  .faq .faq__content {
    margin-top: 32px;
    gap: 12px;
  }
}
.faq .faq__content--ls {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.faq .faq__content--ls > li:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 889.98px) {
  .faq .faq__content--ls > li:not(:last-child) {
    margin-bottom: 12px;
  }
}
.faq .faq__content--rs {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.faq .faq__content--rs > li:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 889.98px) {
  .faq .faq__content--rs > li:not(:last-child) {
    margin-bottom: 12px;
  }
}
@media (max-width: 768.98px) {
  .faq .faq__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact-form {
  padding: 80px 0;
  background-color: var(--violet-lighter);
}
@media (max-width: 768.98px) {
  .contact-form {
    padding: 40px 0;
  }
}
.contact-form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}
@media (max-width: 768.98px) {
  .contact-form__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }
}

.footer {
  padding: 40px 0;
  background: var(--gray-black);
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768.98px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 16px;
  }
}
.footer__content--madeIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.footer__content--madeIn .madeIn-rus {
  max-width: 40px;
  max-height: 40px;
}
.footer__content--madeIn .madeIn-textBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
}
.footer__content--madeIn .madeIn-textBlock p {
  font-size: 12px;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-white);
  text-align: left;
}
.footer__content--desc {
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-lighter);
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5215686275);
  z-index: 9999;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup__body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.popup.open .item-popup-content {
  -webkit-transform: translate(0px, 80px);
      -ms-transform: translate(0px, 80px);
          transform: translate(0px, 80px);
  opacity: 1;
}

.popup__content {
  position: relative;
  z-index: 9999;
  padding: 40px;
  background-color: var(--gray-white);
  color: #000;
  max-width: 600px;
  border-radius: 40px;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: translate(0px, -100%);
      -ms-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media (max-width: 425.98px) {
  .popup__content {
    padding: 20px;
    border-radius: 20px;
    gap: 30px;
  }
}
.popup__content h3 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--violet-darker);
}
@media (max-width: 425.98px) {
  .popup__content h3 {
    font-size: 18px;
  }
}

.popup__close {
  width: 100%;
  padding: 13.5px 20px;
  border-radius: 12px;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-white);
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
  will-change: background;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  background: var(--red-main);
}
.popup__close:hover {
  background: var(--red-light);
}
.popup__close:active {
  background: var(--red-dark);
}

h1 {
  font-size: 76px;
  line-height: 110%;
  font-weight: 700;
  font-family: Vladivostok;
}
@media (max-width: 889.98px) {
  h1 {
    font-size: 42px;
  }
}

h2 {
  font-size: 48px;
  line-height: 100%;
  font-weight: 700;
  font-family: Vladivostok;
}
@media (max-width: 889.98px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-size: 28px;
  line-height: 100%;
  font-weight: 700;
  font-family: Vladivostok;
}
@media (max-width: 889.98px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 20px;
  line-height: 100%;
  font-weight: 700;
  font-family: Vladivostok;
}
@media (max-width: 889.98px) {
  h4 {
    font-size: 20px;
  }
}

.slide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid var(--violet-light);
  border-radius: 40px;
  background: var(--gray-white);
  padding: 40px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 340px;
  margin-right: 18px;
}
@media (max-width: 768.98px) {
  .slide {
    padding: 20px 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.slide .slide__title {
  background: var(--color-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-align: left;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.slide hr {
  height: 2px;
  width: 100%;
  background: var(--gray-lighter);
}
@media (max-width: 768.98px) {
  .slide hr {
    margin: 12px 0;
  }
}
.slide .slide__text {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  color: var(--violet-dark);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 768.98px) {
  .slide .slide__text {
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    line-height: 150%;
  }
}

.grid__item {
  cursor: pointer;
  border-radius: 20px;
  background: var(--gray-lighter);
  border: 2px solid transparent;
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
}
.grid__item:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid var(--gray-light);
  background: var(--gray-lighter);
}
.grid__item:active {
  background: var(--gray-light);
}
.grid__item--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}
.grid__item--header h4 {
  color: var(--gray-darker);
}
.grid__item--header svg {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  will-change: transform;
}
.grid__item--content {
  display: none;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-dark);
  padding: 0 20px 20px 20px;
  -webkit-transition: all;
  transition: all;
}

.grid__item.open .grid__item--content {
  display: block;
}

.grid__item.open .grid__item--header svg {
  -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
          transform: scaleY(-1);
}

.form__content--desc {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid var(--violet-light);
  border-radius: 40px;
  background: var(--gray-white);
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
@media (max-width: 768.98px) {
  .form__content--desc {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
  }
}
.form__content--desc h2 {
  color: var(--violet-darker);
  max-width: 600px;
}
.form__content--desc p {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-dark);
}
.form__content--desc .social__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.form__content--desc .social__block span {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-dark);
}
.form__content--desc .social__block .social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.form__content--desc .social__block .social-link_wrapper {
  background: var(--gray-lighter);
  width: 48px;
  height: 48px;
  border-radius: 12px;
  position: relative;
}
.form__content--desc .social__block .social-link_wrapper:hover {
  background: var(--red-lighter);
}
.form__content--desc .social__block .social-link_wrapper:active {
  background: var(--red-light);
}
.form__content--desc .social__block .social-link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.form__content--InputFields {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid var(--violet-light);
  border-radius: 40px;
  background: var(--gray-white);
  padding: 40px;
}
@media (max-width: 768.98px) {
  .form__content--InputFields {
    padding: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 20px;
    border-radius: 20px;
  }
}
.form__content--InputFields .form__block .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  margin-bottom: 12px;
}
.form__content--InputFields .form__block .input-wrapper label {
  font-size: 12px;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-medium);
}
.form__content--InputFields .form__block .input-wrapper .input-container {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 12px;
  background: var(--gray-lighter);
  padding: 6.5px 12px;
  gap: 8px;
}
.form__content--InputFields .form__block .input-wrapper input {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--gray-lighter);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 21px;
  margin: 7px 4px;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-dark);
}
.form__content--InputFields .form__block .input-wrapper input::-webkit-input-placeholder {
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-medium);
}
.form__content--InputFields .form__block .input-wrapper input::-moz-placeholder {
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-medium);
}
.form__content--InputFields .form__block .input-wrapper input:-ms-input-placeholder {
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-medium);
}
.form__content--InputFields .form__block .input-wrapper input::-ms-input-placeholder {
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-medium);
}
.form__content--InputFields .form__block .input-wrapper input::placeholder {
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-medium);
}
.form__content--InputFields .form__block .input-wrapper input:focus {
  cursor: text;
}
.form__content--InputFields .form__block .checkbox-container {
  padding-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-bottom: 20px;
  cursor: pointer;
}
.form__content--InputFields .form__block .checkbox-container input {
  display: none;
}
.form__content--InputFields .form__block .checkbox-container .checkmark {
  min-width: 24px;
  height: 24px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid var(--gray-medium);
  border-radius: 8px;
  position: relative;
  margin-right: 10px;
}
.form__content--InputFields .form__block .checkbox-container .checkmark:hover svg path {
  stroke: var(--red-light);
}
.form__content--InputFields .form__block .checkbox-container p {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-dark);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.form__content--InputFields .form__block a {
  display: inline-block;
}
.form__content--InputFields .form__block button {
  padding: 13.5px 20px;
  border-radius: 12px;
  color: var(--gray-white);
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
  will-change: background;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  gap: 8px;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  background: var(--red-main);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form__content--InputFields .form__block button:hover {
  background: var(--red-light);
}
.form__content--InputFields .form__block button:active {
  background: var(--red-dark);
}
.form__content--InputFields .form__block button svg {
  margin: 8px 5px;
}
@media (max-width: 889.98px) {
  .form__content--InputFields .form__block button {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.social-link_wrapper:hover svg path {
  fill: var(--red-darker);
}

.social-link_wrapper:active svg path {
  fill: var(--red-darker);
}

.check-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  width: 12px;
  height: 8px;
}

.checkbox:checked + .checkmark .check-icon {
  display: block;
}

.checkmark:hover .check-icon {
  display: block;
}