@font-face {
    font-family: "Vladivostok";
    src:
        url("../../assets/fonts/Vladivostokbold.woff2") format("woff2"),
        url("../../assets/fonts/Vladivostokbold.woff") format("woff"),
        url("../../assets/fonts/Vladivostokbold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
