//==============================Banner=======================================

.banner {
    padding: 80px 0;

    @media (max-width: $md1) {
        padding: 40px 0;
    }

    &__content {
        @include flexbox;
        align-items: flex-start;
        gap: 20px;

        @media (max-width: 766.98px) {
            display: block;
        }
    }
}

.banner__content {
    &--leftside {
        padding-right: 20px;
        max-width: 700px;

        @media (max-width: 766.98px) {
            margin-bottom: 40px;
            padding-right: 0;
            max-width: 100%;
        }

        h1 {
            margin-bottom: 24px;

            @media (max-width: 1226.98px) {
                font-size: 42px;
            }

            @media (max-width: 766.98px) {
                margin-bottom: 12px;
            }
        }
        .banner__subtitle {
            @include T2;
            color: var(--gray-dark);
        }
        .buttons__block {
            margin: 40px 0;
            padding: 40px;
            max-width: 551px;
            width: 100%;
            border: 2px solid var(--violet-light);
            background: var(--violet-lighter);
            border-radius: 40px;
            box-sizing: border-box;
            @include flexbox;
            gap: 12px;
            justify-content: space-between;

            @media (max-width: 1141.98px) {
                flex-direction: column;
            }

            .btn {
                @include button;
            }
            .btn-red {
                @include btnRed;
            }
            .btn-black {
                @include btnBlack;

                svg {
                    margin-left: 14px;
                }
            }

            @media (max-width: 766.98px) {
                border-radius: 20px;
                max-width: 100%;
                padding: 20px;
                margin: 20px 0;
            }
        }
        .switch__block {
            @include flexbox;
            align-items: center;
            gap: 8px;

            span {
                @include T2;
                color: var(--gray-medium);
            }
        }
    }

    &--rightside {
        position: relative;
        display: flex;
        align-items: flex-start;
        width: 50%;
        flex: 0 0 50%;
        height: 540px;
        max-width: 700px;
        will-change: transform;
        backface-visibility: hidden;
        transform: translateZ(0);

        @media (max-width: 1620px) {
            height: 400px;
            width: 46%;
            flex: 0 0 46%;
        }
        @media (max-width: 1080px) {
            height: 360px;
        }
        @media (max-width: 880px) {
            height: 300px;
        }
        @media (max-width: 766.98px) {
            width: 70vw;
            margin: 0 auto;
            height: 440px;
        }
        @media (max-width: 660.98px) {
            height: 330px;
        }
        @media (max-width: 510.98px) {
            height: 250px;
        }

        .gradient__block {
            width: 20vw;
            height: 20vw;
            max-height: 340px;
            max-width: 340px;
            background: var(--color-gradient);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 40px;
            z-index: 2;

            @media (max-width: 766.98px) {
                width: 33vw;
                height: 33vw;
                border-radius: 20px;
            }
        }

        img {
            width: 22vw;
            height: auto;
            display: block;
            max-height: 340px;
            max-width: 340px;
            border-radius: 40px;
            z-index: 10;

            @media (max-width: 766.98px) {
                width: 33vw;
                height: 33vw;
                border-radius: 20px;
            }

            &:first-child {
                position: absolute;
                left: 0;
                bottom: 0;
            }
            &:last-child {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}

//=======================================================================

.form-switch {
    display: inline-block;
    cursor: pointer;

    i {
        position: relative;
        display: inline-block;
        width: 44px;
        height: 24px;
        border-radius: 22px;
        vertical-align: text-bottom;
        @include anim(all, 0.3s);
        @include switchEffect;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            width: 44px;
            height: 24px;
            border-radius: 22px;
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 16px;
            height: 16px;
            background-color: var(--gray-white);
            border-radius: 8px;
            transform: translate3d(4px, 4px, 0);
            @include anim(transform, 0.2s);
            will-change: transform;
        }
    }

    input {
        display: none;

        &:checked + i {
            @include btnRed;
        }
        &:checked + i::before {
            transform: translate3d(0px, 4px, 0) scale3d(0, 0, 0);
        }
        &:checked + i::after {
            transform: translate3d(24px, 4px, 0);
        }
    }
}

//=======================================================================

.swiper__section {
    background-color: var(--violet-lighter);
    padding: 80px 0;

    @media (max-width: $md1) {
        padding: 40px 0;
    }

    &--wrapper {
        position: relative;
        margin-bottom: 40px;

        @media (max-width: $md2) {
            margin-bottom: 32px;
        }

        h2 {
            color: var(--gray-darker);
        }

        .swiper__blockBtn {
            @include flexbox;
            gap: 8px;
            align-items: center;

            @media (max-width: $md2) {
                display: none;
            }
        }
    }
}
.swiper-button-prev {
    left: auto !important;
    right: calc(48px + 8px) !important;
}
.swiper-button-next {
    right: 0px !important;

    &::after {
        padding-left: 2px;
    }
}
.swiper__btn {
    min-width: 48px;
    min-height: 48px;
    background: var(--gray-white);
    border-radius: 12px;
    padding: 12px;
    color: var(--gray-darker) !important;
    @include anim(background, 0.1s);
    will-change: background;

    &:hover {
        background: var(--red-lighter);
    }
    &:active {
        background: var(--red-light);
    }
}
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 14px !important;
    width: 7px !important;
    height: 12px !important;
    color: var(--gray-black);
    font-weight: bold;
}
.swiper {
    width: 100%;
    max-height: 280px;
}
.swiper-slide {
    flex-shrink: 0;
    width: 340px !important;
    height: 280px !important;

    @media (max-width: 1366.98px) {
        width: 304px !important;
        height: 260px !important;
    }

    @media (max-width: $md2) {
        width: 280px !important;
        height: 220px !important;
    }
}

//=======================================================================

.faq {
    padding: 80px 0;

    @media (max-width: $md2) {
        padding: 40px 0;
    }

    h2 {
        color: var(--gray-darker);
    }
    .faq__content {
        margin-top: 40px;
        display: flex;
        gap: 20px;

        @media (max-width: $md2) {
            margin-top: 32px;
            gap: 12px;
        }

        &--ls {
            flex: 0 1 50%;
            > li:not(:last-child) {
                margin-bottom: 20px;

                @media (max-width: $md1) {
                    margin-bottom: 12px;
                }
            }
        }
        &--rs {
            flex: 0 1 50%;
            > li:not(:last-child) {
                margin-bottom: 20px;

                @media (max-width: $md1) {
                    margin-bottom: 12px;
                }
            }
        }

        @media (max-width: $md2) {
            flex-direction: column;
        }
    }
}

//=======================================================================

.contact-form {
    padding: 80px 0;
    background-color: var(--violet-lighter);

    @media (max-width: $md2) {
        padding: 40px 0;
    }
    &__content {
        @include flexbox;
        align-items: flex-start;
        gap: 20px;

        @media (max-width: $md2) {
            flex-direction: column;
            align-items: inherit;
        }
    }
}
