.form__content {
    &--desc {
        flex: 0 1 50%;
        box-sizing: border-box;
        border: 2px solid var(--violet-light);
        border-radius: 40px;
        background: var(--gray-white);
        padding: 40px;
        @include flexbox;
        flex-direction: column;
        gap: 24px;

        @media (max-width: $md2) {
            flex: 0 1 100%;
            gap: 20px;
            padding: 20px;
            border-radius: 20px;
        }

        h2 {
            color: var(--violet-darker);
            max-width: 600px;
        }

        p {
            @include T2;
            color: var(--gray-dark);
        }

        .social__block {
            @include flexbox;
            flex-direction: column;
            gap: 20px;

            span {
                @include T2;
                color: var(--gray-dark);
            }

            .social-link {
                @include flexbox;
                align-items: center;
                gap: 12px;

                &_wrapper {
                    background: var(--gray-lighter);
                    width: 48px;
                    height: 48px;
                    border-radius: 12px;
                    position: relative;

                    &:hover svg {
                        path {
                            fill: var(--red-darker);
                        }
                    }

                    &:active svg {
                        path {
                            fill: var(--red-darker);
                        }
                    }

                    &:hover {
                        background: var(--red-lighter);
                    }

                    &:active {
                        background: var(--red-light);
                    }
                }

                svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    &--InputFields {
        flex: 0 1 50%;
        box-sizing: border-box;
        border: 2px solid var(--violet-light);
        border-radius: 40px;
        background: var(--gray-white);
        padding: 40px;

        @media (max-width: $md2) {
            padding: 20px;
            flex: 0 1 100%;
            padding: 20px;
            border-radius: 20px;
        }

        .form__block {
            .input-wrapper {
                @include flexbox;
                flex-direction: column;
                gap: 4px;
                margin-bottom: 12px;

                label {
                    @include T4;
                    color: var(--gray-medium);
                }

                .input-container {
                    cursor: text;
                    position: relative;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    border-radius: 12px;
                    background: var(--gray-lighter);
                    padding: 4.5px 12px;
                    gap: 8px;
                    border: 2px solid transparent;

                    &:hover {
                        box-sizing: border-box;
                        border: 2px solid var(--gray-light);
                        border-radius: 12px;
                        background: var(--gray-lighter);
                    }

                    &:focus-within {
                        box-sizing: border-box;
                        border: 2px solid var(--gray-light);
                        border-radius: 12px;
                        background: var(--gray-white);
                    }
                    &:focus-within input {
                        background: var(--gray-white);
                    }
                }

                input {
                    position: relative;
                    @include flexbox;
                    background: var(--gray-lighter);
                    align-items: center;
                    width: 100%;
                    height: 21px;
                    margin: 7px 4px;
                    @include T3;
                    color: var(--gray-dark);

                    &::placeholder {
                        @include T3;
                        color: var(--gray-medium);
                    }
                }
            }

            .checkbox-container {
                padding-top: 8px;
                display: flex;
                gap: 8px;
                margin-bottom: 20px;
                cursor: pointer;

                input {
                    display: none;
                }

                .checkmark {
                }

                p {
                    @include T2;
                    color: var(--gray-dark);
                    user-select: none;
                }
            }

            a {
                display: inline-block;
            }

            button {
                padding: 13.5px 20px;
                border-radius: 12px;
                color: var(--gray-white);
                @include anim(background, 0.1s);
                will-change: background;
                white-space: nowrap;
                cursor: pointer;
                text-align: center;
                gap: 8px;
                @include T3;
                @include btnRed;
                @include flexbox;
                align-items: center;

                svg {
                    margin: 8px 5px;
                }

                @media (max-width: $md1) {
                    width: 100%;
                    justify-content: center;
                }
            }
        }
    }
}

.check-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    min-width: 12px;
    min-height: 8px;
}
.checkbox:checked + .checkmark .check-icon {
    display: block;
}
.checkmark:hover .check-icon {
    display: block;
}

.checkbox-container .checkmark {
    min-width: 24px;
    height: 24px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 2px solid var(--gray-medium);
    position: relative;
    transition: border-color 0.1s;
}

.checkbox-container .checkmark:hover svg path {
    stroke: var(--red-light);
}

.checkbox-container .checkbox:checked + .checkmark {
    border-color: var(--red-main);
}

.checkbox-container .checkbox:checked + .checkmark:hover {
    border-color: var(--red-dark);
}

// Изменение stroke при checked состоянии чекбокса
.checkbox-container .checkbox:checked + .checkmark svg path {
    stroke: var(--red-main);
}

// Изменение stroke при наведении на .checkmark
.checkbox-container .checkmark:hover svg path {
    stroke: var(--red-light);
}

// Изменение stroke при hover на .checkmark, если чекбокс отмечен
.checkbox-container .checkbox:checked + .checkmark:hover svg path {
    stroke: var(--red-dark);
}

//=======================================================================
