.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #00000085;
	z-index: 9999;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.8s ease 0s;
}
.popup__body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}
.popup.open {
	opacity: 1;
	visibility: visible;
}
.popup.open .popup__content {
	transform: translate(0px, 0px);
	opacity: 1;
}
.popup.open .item-popup-content {
	transform: translate(0px, 80px);
	opacity: 1;
}
.popup__content {
	position: relative;
	z-index: 9999;
	padding: 40px;
	background-color: var(--gray-white);
	color: #000;
	max-width: 600px;
	border-radius: 40px;
	transition: all 0.8s ease 0s;
	opacity: 0;
	transform: translate(0px, -100%);
	@include flexbox;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;

	@media (max-width: $md3) {
		padding: 20px;
		border-radius: 20px;
		gap: 30px;
	}

	h3 {
		user-select: none;
		color: var(--violet-darker);

		@media (max-width: $md3) {
			font-size: 18px;
		}
	}
}
.popup__close {
	width: 100%;
	@include button;
	@include T2;
	@include btnRed;
}
